.emoji-face{
    width: 100px;
    height: 100px;
    background: #f2dd68;
     border-radius: 50%;
      box-shadow:2px 0px 2px 2px rgb(0,0,0,0.07)  ;
      position: relative;


}

.eye1{
    width: 11px;
    height: 12px;
    background: #995710;
    border-radius: 50%;
    position: absolute;
    top: 30px ;
    left: 20px;

}

.eye2{
    width: 11px;
    height: 12px;
    background: #995710;
    border-radius: 50%;
    position: absolute;
    top: 30px ;
    right: 20px;

}
.mouth-shock{
    width: 20px;
    height: 25px;
    background: #995710;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 40px;
}

.mouth-speechless{
    width: 70px;
    height: 5px;
    background: #995710;
    border-radius: %;
    position: absolute;
    top:60px;
    left:16px;
}

.mouth{
       width: 70px;
       height: 34px;
       background: #995710;
       position: absolute;
       top: 52px;
       left: 16px;
       border-radius: 0px 0px 90px 90px;
}

.tounge{
    width: 38px;
    height: 38px;
    background: #e25d5d;
    position: absolute;
    border-radius: 40%;
    top: 20px;
    left: 15px;
    z-index: 2;
}